.title-table td{
    width : 9%;
}

.top-box{
    width: 95%;
    text-align: center;
}
.main-title{
    color: black;
    text-decoration: none;
    font-family :'Times New Roman', Times, serif;
    text-shadow : 3px 3px 5px black;
    font-size: 44px;
}

.sign-in{
    text-align: right;
    text-decoration: none;
    color: black;
    
    font-size: 20px;
}
.sign-in:hover{
    text-shadow : 3px 3px 5px black;
}
.sign-up{
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.sign-up:hover{
    text-shadow : 3px 3px 5px black;
}

.top-bar{
    box-shadow: 0px 0px 3px black;
    border-style: solid;
    border-color: white;
    border-width: 1px;

}

.search-container{
    display: flex;
    vertical-align: top;
}

.search-box{
    text-align: center;
    padding: 10px;
    width: 220px;
    display: flex;
    border-radius: 6px;
    border-style: solid;
    font-size: 15px;
}

.search-button{
    text-align: center;
    display: flex;
    margin-left: 5px;
    border-radius: 6px;
    cursor : pointer;
}

header{
    width : 760px;
    height: 80px;
    font-size: 30px;
    
}

.concrete-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width : 1100px;
    height: 40px;
}


body{
    background-color: #fafbfc;
    margin-left: 7%;
    margin-right: 9%;
    max-width: 1150px;
    min-width: 1150px;
}

aside{
    float: left;
    border-color: black;
    width: 145px;
    height: 830px;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 0 2px 0 rgba(0,0,0,.15);
    background-color: white;
    
}
.leage-image{
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 5px;
}

.leage-image:hover{
    box-shadow: 0px 0px 5px black;

}

.aside-list{
    margin-top: 12px;
    margin-left: 12px;
}

.aside-league:hover{
    text-shadow : 3px 3px 5px black;
    cursor: pointer;
}
.aside-player:hover{
    text-shadow : 3px 3px 5px black;
    cursor: pointer;
}

section{
    float: left;
    width: 620px;
    height: 870px;
    background-image: url("유럽지도2.png");
    background-repeat: no-repeat; 
    background-size: contain;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 0 2px 0 rgba(0,0,0,.15);
    margin-left: 10px;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
}
.map-table{
    width: 100%;
    height: 62%;
   
    border-radius: 6px;
}

.table-renew{
    background-image: url("renew.png");
    background-size: contain;
    border-radius: 5px;
}
.table-renew:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.table-epl{
    background-image: url("epl.png");
    background-size: contain;
    border-radius: 5px;
}

.table-epl:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.table-laliga{
    background-image: url("laliga.png");
    background-size: contain;
    border-radius: 5px;
    background-repeat: no-repeat; 
    /* 라리가 아이콘이 반복되어서 넣음 */
}

.table-laliga:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.table-bundes{
    background-image: url("bundes.png");
    background-size: 100% 100%;
    border-radius: 5px;
}

.table-bundes:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.table-serie{
    background-image: url("serie.png");
    background-size: 100% 100%;
    border-radius: 5px;
}

.table-serie:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.table-greece{
    background-image: url("greece.jpg");
    background-size: 100% 100%;
    border-radius: 5px;
}

.table-greece:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.table-scotish{
    background-image: url("scotish.jpg");
    background-size: 100% 100%;
    border-radius: 5px;
}

.table-scotish:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.news-table{
    width: 100%;
    height: 36%;
    text-align: center;
}
.news-caption{
    background-color: white;
    width: 620px;
    font-size: 23px;
    
}
.first-news{
    border-radius: 6px;
    
}
.second-news{
    border-radius: 6px;
    
}

.nav-box{
    width: 340px;
    height: 520px;
    float: left;
    text-align: center;
    margin-left: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 0 2px 0 rgba(0,0,0,.15);
    border-radius: 6px;
    background-color: white;
}

.ad-title{
    text-align: center;
    margin-left: 10px;
    margin-top: 6px;
    width: 330px;
    height: 30px;
    float: left;
    
}

.ad-box{
    width: 340px;
    height: 300px;
    float: left;
    text-align: center;
    margin-left: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 0 2px 0 rgba(0,0,0,.15);
    border-radius: 6px;
    background-color: white;
}

.ad-image{
    margin-top : 10px;
    width : 95%;
}

.song-title{
    margin-top: 20px;
    
    text-align: center;
    
}

.bottom-image{
    margin : 10px;
    border-radius: 6px;
}

.bottom-image:hover{
    box-shadow: 0px 0px 7px black;
    cursor: pointer;
}

.bottom-bar{
    
    box-shadow: 0px 0px 3px black;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

footer{
    margin-top: 10px;
    float: left;
    background-color: none;
    height: 100px;
    width : 99%;

}






/* -------------------------------로그인 css------------------------------ */

.signIn-body{
    width: 99%;
    height: 700px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.signIn-box{
    width: 500px;
    height: 500px;
    background-color:white;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 0 2px 0 rgba(0,0,0,.15);
    
}

.signIn-box > div{
    margin : 20px;
}

.id-input{
    width:430px;
    height: 30px;
    border-style: solid;
    border-radius: 6px;
    text-align: center;
}

.password-input{
    width:430px;
    height: 30px;
    border-style: solid;
    border-radius: 6px;
    text-align: center;
}

.password-reinput{
    width:430px;
    height: 30px;
    border-style: solid;
    border-radius: 6px;
    text-align: center;
}
